<div class="author">
  <div class="author--media">
    <nav class="fabs">
      <a class="fab large ripple menu-icon" href="#!">
        <i class="mdi mdi-alert-circle"></i>
      </a>
      <a class="fab large ripple menu-icon" href="#!">
        <i class="mdi mdi-github-alert-box"></i>
      </a>
      <a class="fab large ripple menu-icon" href="#!">
        <i class="mdi mdi-google-alert"></i>
        </a>
    </nav>
    {{#if image}}
      <img class="image" src="{{image}}" />
    {{else}}
      <img class="image" src="{{@blog.url}}/shared/img/user-image.png" />
    {{/if}}
  </div>
  <div class="author--info">
    <h5 class="name">{{name}}</h5>
    <p class="bio">{{bio}}</p>
  </div>
</div>
